.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 1000;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.modal-open .header {
  display: none;
}
/* .dark header {
  color: antiquewhite;
} */

.header-sticky {
  width: 100%;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1000;
}

.header-title {
  font-size: 1.5rem;
  margin-left: 0;
  font-weight: bold;
}

.nav {
  display: flex;
}

.nav-link {
  padding-left: 1rem;
  text-decoration: none;
  color: inherit;
}

.nav-link:last-child {
  margin-right: 5;
}

.image-container {
  position: relative;
  height: 4rem; /* Adjust as needed */
  width: 10rem; /* Adjust as needed */
}
